<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
	</body>
	<script type="text/javascript" src="../js/jquery-2.1.4.js" ></script>
	<script type="text/javascript" src="../js/bridge3.5.js"></script>
	<script>
		/*var people={
			name:"guoyansi",
			run:function(){
				console.log("run:"+this.name);
			}
		}
		var data={name:"思思博士"};
		people.run.call(data);
		*/
		/*function people(){
			this.name="guoyansi";
			this.run=function(){
				console.log("run:"+this.name);
			}
		}
		function father(){
			this.name="爸爸";
		}
		people*/
		/*var fn=new Function("arg","console.log(arg+1)");
		console.log(fn(2));
		fn=new Function("console.log(this.name)");
		fn.apply({name:"思思博士"});*/
		
		
	</script>
</html>
